:root {
  --bg-done: #003400;
  --bg-not-done: #410000;
}

body {
  /* Disable text selection */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  /* Prevent scrolling */
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
  margin: 0;

  background: var(--bg-not-done);
  color: white;
  font-family: Avenir;
  font-size: 18px;
}

#title-bar {
  font-size: 32px;
  white-space: nowrap;
}

#arrow-left {
  text-align: right;
}

#arrow-right {
  text-align: left;
}

#edit {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 16px 16px 9px 16px;
}

#task-list, #plus {
  padding-left: 16px;
}

.task, .task-done, .task-button {
  height: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.task-input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0px;
    margin: 0px;
    outline: none;
    font-size: 18px;
    font-family: Avenir;
    padding: 0px;
    line-height: 18px;
    width: 100%;
}

.task-done {
  color: rgba(255, 255, 255, .5);
  text-decoration: line-through;
}

.task-button {
  padding-left: 16px;
  padding-right: 16px;
}

.task-button-inactive {
}

#plus {
  font-size: 24px;
}

#move-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  table-layout: fixed;
  border: 10px;
}

.dialog-option {
  white-space: nowrap;
  border: solid rgba(0,0,0,0) 4px;
  background: #000;
  content: solid black;
  display: table-cell;
  width: 100px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
}
