:root {
  --bg-done: #003400;
  --bg-not-done: #410000;
}

body {
  /* Disable text selection */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  /* Prevent scrolling */
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
  margin: 0;

  background: var(--bg-not-done);
  color: white;
  font-family: Avenir;
  font-size: 18px;
}

#title-bar {
  font-size: 48px;
}

#arrow-left {
  text-align: right;
}

#arrow-right {
  text-align: left;
}

#task-list, #plus {
  padding-left: 16px;
}

.task, .task-done, .remove-button {
  height: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.task-input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0px;
    margin: 0px;
    outline: none;
    font-size: 18px;
    font-family: Avenir;
    padding: 0px;
    line-height: 18px;
    width: 100%;
}

.task-done {
  color: rgba(255, 255, 255, .5);
  text-decoration: line-through;
}

.remove-button {
  padding-left: 16px;
  padding-right: 16px;
}

#plus {
  font-size: 24px;
}
